*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
  padding: 47.5px;
}
body{
  background-color: rgb(35, 31, 34);
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Russo One;
}
.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: auto;
  min-height: 250px;
  padding: 40px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(35, 31, 34);
  border: 3px solid black;
  border-radius: 5px;
}
.img1 {
  position: relative;
  width: 180px;
  animation: logo-spin 2s linear;
  
}

@keyframes logo-spin {
  from {
    left: -1300px;
    transform: rotate(0deg);
  }
  to {
    left: 0px;
    transform: rotate(1440deg);
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    flex-direction: column;
  }
}
