*{
  margin:0px;
  padding: 0px;
}
.App {
  text-align: center;
}
body{
  background-color: rgb(31, 31, 34);
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
