.main-puds {
 display: grid;
 grid-template-columns: 100px 100px 100px;
  grid-template-rows: 80px 80px 80px; 
  column-gap: 10px;
  row-gap: 15px;

}
.pad {
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 margin-right: 10px;
 border-radius: 5px;
 
}
.drum-pud1, .drum-pud2, .drum-pud3 {
 background: radial-gradient(#ffffff, #ffee00);
}
.drum-pud4, .drum-pud5, .drum-pud6 {
 background: radial-gradient(#ffffff, #ae00ff);
}
.drum-pud7, .drum-pud8, .drum-pud9 {
 background: radial-gradient(#ffffff, #00ff9d);
}
